extends ../layout

block content
  div(class="new-user")
    a(href="/users/new" class="new link-btn") new
  ul
    each user in users
      li
        = user.username
        span(class="show link-btn")
          a(href="/users/" + user.id) show
        span(class="delete link-btn")
          a(href="/users/" + user.id + "/destroy") delete
