extends ../layout

block content
  unless error == ''
    p.err= error
  form(action="/users", method="post")
    div(class="form-group")
      label(for="username")
        | Username
      input(type="text", name="username")
    div(class="form-group")
      label(for="email")
        | Email
      input(type="text", name="email")
    input(type="submit" class="btn")
